.navbar{
  height: 50px;
  background-color: #c575ed;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  background-color: #930dd7;
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  color: #ffffff;
  border-radius: 5px;
}
.navButton:hover{
  background-color: white;
  color:black;
  border-radius: 0px;

}
.logo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0%;
  margin: 0;
  text-align: center;
  font-size: 25px;
}